{erl_opts, [debug_info]}.

{minimum_otp_vsn, "25"}.
{deps, [{jsone, "1.8.1"}]}.

{project_plugins, [rebar3_hex]}.

{dialyzer, [{warnings, [no_return,
                        error_handling,
                        underspecs,
                        unmatched_returns,
                        no_unknown]}]}.

{xref_checks, [fail_on_warning,
               undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{shell, [{apps, [captcherl]}]}.
{validate_app_modules, true}.
