{erl_opts, [debug_info]}.
{validate_app_modules, true}.

{minimum_otp_vsn, "25"}.
{deps, [{jsone, "1.8.1"}]}.

{project_plugins, [rebar3_hex, rebar3_efmt]}.
{hex, [{doc, edoc}]}.

{shell, [{apps, [captcherl]}]}.

{dialyzer, [{warnings, [no_return,
                        error_handling,
                        unmatched_returns,
                        no_unknown]}]}.

{xref_checks, [fail_on_warning,
               undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
